<%- include("partials/header"); -%>

<h1>Schedule</h1>
<form action="/schedule" method="post">
  <div class="form-group">
    <label>Interviewer</label>
    <input class="form-control" type="text" name="Interviewer" required="required">
    <label>Candidate</label>
    <input class="form-control" type="text" name="Candidate" required="required">
    <label>Start Time</label>
    <input class="form-control" type="text" name="Start" required="required">
    <label>End Time</label>
    <input class="form-control" type="text" name="End" required="required">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Schedule</button>
</form>


<%- include("partials/footer"); -%>